/* Animación de entrada */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.menu-item:hover {
  background-color:blanchedalmond ;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
    width: 100%;
}

li{
  float: left;
}

li a {
  text-align: center;
  display: flex;
  padding: 14px 16px;
  text-decoration: none;
  color: sandybrown;
  margin: auto;

}

li a:hover{
  background-color: rgb(243, 212, 165);
}